/* ========== Style sheet for the PyG3T and PoProofRead homepage ==========

   A "*" in a comment means that the concept is explained in this header.   

   padding: Space between the element and the border (inside the border).
   margin : Space around elements (outside the border).
   */


/* Contains the entire page and therefore applies to all content unless
   overwritten */
#container
{
width: 90%;              /* Restrict page to 90% of the total width */
margin: 10px auto;       /* auto means determined by browser. */
background-color: #fff;
color: #333;             /* Font color */
border: 1px solid gray;
line-height: 130%;       /* Add a little more space between lines of text */
}

#top
{
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
}

#content
{
margin-left: 200px;
border-left: 1px solid gray;
padding: 1em;
max-width: 36em;
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}

#leftnav p{ margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

#leftnav ul{
list-style: none;
/* margin-left: 0px; */
padding-left: 10px;
}


#news_item{
    background-color: #ddd;
}
/* ######################################################################  */
