/* ========== Style sheet for the PyG3T and PoProofRead homepage ==========
   
   A "*" in a comment means that the concept is explained in this header.   
   
   padding: Space between the element and the border (inside the border).
   margin : Space around elements (outside the border).
   */


/* Contains the entire page and therefore applies to all content unless
   overwritten */

/* 61a727 */
#container
{
    width: 960px;              /* Restrict page to 90% of the total width */
    margin: 10px auto;       /* auto means determined by browser. */
    line-height: 130%;       /* Add a little more space between lines of text */
    background-color: white;
}


#top
{
    background-image:url('graphics/header.png');
    background-repeat:no-repeat;
}

#top h1
{
    font-family: Georgia, serif;
    padding: 50px 0px 40px 290px;
    margin:0;
}

#navigation
{
    font-family: Georgia, serif;
    float: left;
    width: 260px;
    margin: 0;
    padding: 32px 0px 0px 0px;
    margin-bottom: 5px;
    background-image: url('graphics/navigation_ul.png');
    background-repeat:no-repeat;
    background-position:left top;
}

#navigation a:visited, #navigation a:link{
    color: black;
}


#navigation p{
    margin: 0 0 1em 0;
}

#navigation ul{
    list-style: none;
    margin: 0px; 
    padding: 0px;
}

#navigation li {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

/* level 1 */
#navigation .level1 a{
    /*    font-weight: bold;*/
    text-decoration: none;
    display:block;
    width: 260px;
    height: 30px;
    font-size: 24px;
    padding: 14px 0px 6px 40px;
    background-image: url('graphics/button_base.png');
    background-repeat: no-repeat;
    background-position: left top;
}

#navigation .level1.currentpage a:link{
    background-image:url('graphics/button_current.png');
    background-repeat:no-repeat;
    background-position: left top;
}

#navigation .level1 a:hover{
    background-image:url('graphics/button_hover.png');
    background-repeat:no-repeat;
    background-position: left top;
}

#navigation .last a{
    background-image:
    url('graphics/button_last_cover.png'),
    url('graphics/button_base.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
}

#navigation .last.currentpage a:link{
    background-image:
    url('graphics/button_last_cover.png'),
    url('graphics/button_current.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
}

#navigation .last a:hover{
    background-image:
    url('graphics/button_last_cover.png'),
    url('graphics/button_hover.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
}


/* level 2 */

#navigation .level2 a{
    /*    font-weight: bold;*/
    text-decoration: none;
    display:block;
    width: 260px;
    height: 20px;
    font-size: 16px;
    padding: 9px 0px 11px 50px;
    background-image: url('graphics/button_base_small.png');
    background-repeat: no-repeat;
    background-position: left top;
}

#navigation .level2.currentpage a:link{
    background-image:url('graphics/button_current_small.png');
    background-repeat:no-repeat;
    background-position: left top;
}

#navigation .level2 a:hover{
    background-image:url('graphics/button_hover_small.png');
    background-repeat:no-repeat;
    background-position: left top;
}

#content
{
    margin: 25px 25px 0px 260px;
    padding: 25px;
    background-color: #A0CFEC;
    background-image:
    url('graphics/main_ul_corner.png'),
    url('graphics/main_ur_corner.png'),
    url('graphics/main_le.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top, left bottom;
}

#content.expand
{
    height: 400px;
}

#footer
{
    clear: both;
    margin: 0px 25px 0px 0px;
    padding: 10px 0px 10px 15px;
    color: #333;
    background-color: #a7e571;
    background-image:
    url('graphics/footer_ul_corner.png'),
    url('graphics/footer_ll_corner.png'),
    url('graphics/footer_lr_corner.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom;
}

#content h2 { margin: 0 0 .5em 0; }

#news_item{
    /*background-color: #ddd;*/
}

img.floatRight { 
    float: right; 
    margin: 4px;
}
/* ######################################################################  */
